<mat-toolbar color="primary">
  <span><a routerLink="/">Мое Сообщение</a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="isAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent"
        >Создать пост</a
      >
    </li>
    <li *ngIf="!isAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent"
        >Войти</a
      >
    </li>
    <li *ngIf="!isAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent"
        >Зарегистрироватся</a
      >
    </li>
    <li *ngIf="isAuthenticated">
      <button mat-button (click)="onLogout()">Выйти</button>
    </li>
  </ul>
</mat-toolbar>
